.programsContainer {
    padding: 50px 20px;
    background: url("/rev.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 2px;
    display: flex;
  }
  
  .programCard {
    backdrop-filter: blur(5px);
    background: FFFFFF;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .programContent {
    display: flex;
    flex-direction: column;
  }
  
  .programImage {
    width: 300px;
  }
  