/* components/services.module.css */

.servicesContainer {
  padding: 60px 20px;
  background: url('/hol7.jpg') no-repeat center center; /* Set the background image */
  background-size: cover; /* Make sure the image covers the container */
  display: flex;
}

.slideInImage {
  width: 25rem;
  height: 25REM;
  padding: 50px;
  animation: slideIn 2s ease-in-out;
}

.serviceContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.serviceCard {
  background: FFFFFF;
  backdrop-filter: blur(5px);
  z-index: 999;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  animation: fadeIn 2s ease-in-out;
}
